body {
  background: linear-gradient(to right, #000000, #1a1a1a);
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  padding-top: 100px;
}

h1 {
  font-size: 55px;
  text-shadow: 0 0 15px cyan;
}

p {
  font-size: 20px;
  color: #cfcfcf;
}

button {
  margin-top: 20px;
  padding: 14px 28px;
  border: none;
  border-radius: 14px;
  background: cyan;
  color: black;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px cyan;
}
